# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
venv/
.venv/
env/
ENV/

# Node & Tailwind
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & local secrets
db.sqlite3
db.sqlite3-journal
.env
local_settings.py

# IDE & Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
desktop.ini
.DS_Store
